body {
  background: cornflowerblue;
}
/* ----------- For screens 768px and larger ----------- */
@media (min-width: 768px) {
	body {
    background-color: rgb(182, 35, 182)
  }
}

/* ----------- For screens 1200px wide and larger----------- */
@media (min-width: 1200px) {
  body{
    background-color: rgb(76, 176, 25);
  }
}
